In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('hiring.csv')

In [3]:
dataset['experience'].fillna(0, inplace=True)

In [5]:
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [6]:
dataset

  experience  test_score  interview_score  salary
0          0    8.000000                9   50000
1          0    8.000000                6   45000
2       five    6.000000                7   60000
3        two   10.000000               10   65000
4      seven    9.000000                6   70000
5      three    7.000000               10   62000
6        ten    7.857143                7   72000
7     eleven    7.000000                8   80000

In [9]:
X = dataset.iloc[:, :3]

In [16]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [11]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [13]:
y = dataset.iloc[:, -1]

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [17]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [19]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53290.89255945]